[Unit]
Description=Advertise %I as a local domain for this machine
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c "/usr/bin/avahi-publish -a -R %I $(hostname -I | tr ' ' '\\n' | grep '10\.\|192\.168\.' | head -n 1)"
# Automatically restart the service if the service gets down
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
