{% extends "base.html" %}

{% block main %}

<div id="install_status" class="row justify-content-center">

    <div class="mb-5 col-sm-12 col-md-8 col-lg-6">

        <div id="progress" class="progress mb-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <ul id="steps" class="list-group">
            {% for id, descr in steps %}
            <li id="step-{{ id }}" class="list-group-item">
                <h5 class="mb-0"><i class="step-icon fa fa-fw"></i> {{ descr }}</h5>
                <code class="step-info ml-5" style="display: none;"></code>
                <pre class="mt-2 mb-0 px-2 debug" style="display: none;"></pre>
            </li>
            {% endfor %}
        </ul>
        <div id="footer" class="mt-2 row">
            <div class="col-12">
            <button id="retry" class="btn btn-outline-warning btn-sm"><i class="fa fa-refresh" aria-hidden="true"></i> {{ _("Retry") }}</button>
            <div class="form-group pull-right">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="debug_mode">
                    <label class="custom-control-label" for="debug_mode">{{ _("Debug mode") }}</label>
                </div>
            </div>
            </div>
        </div>

        <div id="completed-1" class="mt-2 row">
            <div class="col-10 mx-auto text-center">
                <h4>
                    <i class="fa fa-fw fa-cog fa-spin"></i>{{ _("Please wait just a few more seconds while the installation completes...") }}
                </h4>
            </div>
        </div>

        <div id="completed-2" class="mt-2 row">
            <div class="col-10 mx-auto text-center">
                <h3>
                    <i class="fa fa-fw fa-check-circle text-success"></i> {{ _("Installation complete !") }}
                </h3>

                <div class="card mt-3">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fa fa-fw fa-wifi mr-2"></i>{{ _("You have a new WiFi !") }}</h4>

                        <p class="card-text">FIXME : add wifi ssid (only if the option was enabled during install)</p>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fa fa-fw fa-wrench mr-2"></i>{{ _("Checkout the admin interface") }}</h4>

                        FIXME : add link to the admin interface (depending on (nohost.me + vpn), domain, global IP, local IP, ...)
                        <i class="fa fa-fw fa-stethoscope mr-2"></i>

                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
<!--
                <div class="card mt-3">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fa fa-fw fa-exchange mr-2"></i>{{ _("Configure port forwarding on your router") }}</h4>
                        FIXME : only if no VPN enabled

                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>


                <div class="card mt-3">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fa fa-fw fa-globe mr-2"></i>{{ _("Configure the DNS records for your server") }}</h4>
                        FIXME : only if not nohost.me / noho.st / ynh.fr ...

                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
-->
                <div class="card mt-3">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fa fa-fw fa-home mr-2"></i>{{ _("Your very own digital home") }}</h4>
                        FIXME : only if no VPN enabled

                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>


            </div>
        </div>



    </div>

</div>

{% endblock %}
