{% extends "base.html" %}

{% block main %}

<div id="install_status" class="row justify-content-center">

    <div class="mb-5 col-sm-12 col-md-8 col-lg-6">

        <div id="progress" class="progress mb-3 mt-5">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <ul id="steps" class="list-group">
            {% for id, descr in steps %}
            <li id="step-{{ id }}" class="list-group-item">
                <h5 class="mb-0"><i class="step-icon fa fa-fw"></i> {{ descr }}</h5>
                <code class="step-info ml-5" style="display: none;"></code>
                <pre class="mt-2 mb-0 px-2 debug" style="display: none;"></pre>
            </li>
            {% endfor %}
        </ul>
        <div id="footer" class="mt-2 row">
            <div class="col-12">
            <button id="retry" class="btn btn-outline-warning btn-sm"><i class="fa fa-refresh" aria-hidden="true"></i> {{ _("Retry") }}</button>
            <div class="form-group pull-right">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="debug_mode">
                    <label class="custom-control-label" for="debug_mode">{{ _("Debug mode") }}</label>
                </div>
            </div>
            </div>
        </div>

        <div id="completed-1" class="mt-2 row">
            <div class="col-10 mx-auto text-center">
                <h4>
                    <i class="fa fa-fw fa-cog fa-spin"></i>{{ _("Please wait just a few more seconds while the installation completes...") }}
                </h4>
            </div>
        </div>

        <div id="completed-2" class="mt-2 row">
            <div class="col-10 mx-auto text-center">
                <h3>
                    <i class="fa fa-fw fa-check-circle text-success"></i> {{ _("Installation complete !") }}
                </h3>

                {% if install_params.enable_wifi %}
                <div class="card mt-3">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fa fa-fw fa-wifi mr-2"></i>{{ _("You have a new WiFi !") }}</h4>

                        <p class="card-text">
                        {{ _("Your new wifi is called <span style='font-weight:bold; font-family:monospace;'>%(wifi_ssid)s</span> and should now show up on your devices. When you're connected to it, your traffic is automatically encrypted through the VPN tunnel.", wifi_ssid=install_params.wifi_ssid) }}
                        </p>
                    </div>
                </div>
                {% endif %}

                <div class="card mt-3">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fa fa-fw fa-wrench mr-2"></i>{{ _("Checkout the admin interface") }}</h4>

                        <p class="card-text">
                        {{ _("This is where you'll be able to add users, install applications and manage your server !") }}
                        </p>
                        <p class="card-text">
                        {{ _("The diagnosis section will help you making sure that everything is running smoothly. You may need to configure port forwarding or DNS records (depending on your installation choices) for your server to be fully functional.") }}
                        </p>

                        <a target="_blank" href="https://{{ install_params.request_host }}/yunohost/admin" class="card-link"><i class="fa fa-fw fa-key"></i> {{ _("Go to the admin interface") }}</a>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fa fa-fw fa-home mr-2"></i>{{ _("Your very own digital home") }}</h4>

                        <p class="card-text">
                        {{ _("Once your setup is fully-functional, you may access the user portal. This is where you can access applications.") }}
                        </p>

                        <a target="_blank" href="https://{{ install_params.main_domain }}/yunohost/sso" class="card-link"><i class="fa fa-fw fa-user"></i> {{ _("Go to the user portal") }}</a>
                        <br>
                        <a target="_blank" href="https://yunohost.org/#/email_configure_client" class="card-link"><i class="fa fa-fw fa-envelope"></i> {{ _("Learn how to configure email") }}</a>
                    </div>
                </div>


            </div>
        </div>



    </div>

</div>

{% endblock %}
